<a href="https://colab.research.google.com/github/ara42/Machine-Learning/blob/main/%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%98%81%ED%99%94_%ED%8F%89%EC%A0%90_%EA%B0%90%EC%84%B1_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
!pip install konlpy

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 66.4 MB/s eta 0:00:00
Collecting JPype1>=0.7.0 (from konlpy)
  Downloading JPype1-1.4.1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 46.4 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from konlpy) (4.9.2)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.10/dist-packages (from konlpy) (1.22.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from JPype1>=0.7.0->konlpy) (23.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [4]:
from konlpy.tag import Twitter

In [5]:
path1 = '/content/drive/MyDrive/Colab Notebooks/Machine-Learning/ratings_train.txt'
path2 = '/content/drive/MyDrive/Colab Notebooks/Machine-Learning/ratings_test.txt'

In [6]:
train_df = pd.read_csv(path1, sep='\t')
train_df.head(3)

         id                           document  label
0   9976970                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                  너무재밓었다그래서보는것을추천한다      0

In [7]:
train_df['label'].value_counts()

0    75173
1    74827
Name: label, dtype: int64

In [8]:
test_df = pd.read_csv(path2, sep='\t')
test_df.head(3)

        id                                document  label
0  6270596                                     굳 ㅋ      1
1  9274899                    GDNTOPCLASSINTHECLUB      0
2  8544678  뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0

In [9]:
train_df = train_df.drop('id',axis=1)
test_df = test_df.drop('id',axis=1)

In [12]:
fil = train_df['document'].notnull()
train_df = train_df[fil]
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149995 entries, 0 to 149999
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   document  149995 non-null  object
 1   label     149995 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.4+ MB

In [13]:
fil = test_df['document'].notnull()
test_df = test_df[fil]
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49997 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   document  49997 non-null  object
 1   label     49997 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [14]:
import re

In [15]:
def remove_number(text):
    return re.sub(r'\d',' ',text)

In [16]:
train_df['document'] = train_df['document'].apply(remove_number)
test_df['document'] = test_df['document'].apply(remove_number)

In [17]:
def dw_tokenizer(text):
    tw = Twitter()
    return tw.morphs(text)

In [18]:
dw_tokenizer("나는 집에 간다. 그리고 우리는 산에 간다.")

/usr/local/lib/python3.10/dist-packages/konlpy/tag/_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

['나', '는', '집', '에', '간다', '.', '그리고', '우리', '는', '산', '에', '간다', '.']

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
trl = train_df['document'].values.tolist()
tel = test_df['document'].values.tolist()
tol = trl+tel
tdf = pd.DataFrame()
tdf['document'] = tol

In [25]:
tv = TfidfVectorizer(tokenizer=dw_tokenizer,
                     ngram_range=(1,2),
                     min_df=0.003,
                     max_df=0.9)
tv.fit(tdf['document'])
train_data = tv.transform(train_df['document'])
test_data = tv.transform(test_df['document'])

/usr/local/lib/python3.10/dist-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/konlpy/tag/_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [28]:
model = LogisticRegression(C=3.5)
model.fit(train_data, train_df['label'])
pred = model.predict(test_data)
accuracy_score(test_df['label'],pred)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.768806128367702